.list {
  list-style: none;
}

.header {
  margin: 9px;
  display: flex;
  justify-content: space-evenly;
}

.header .name {
  width: 30%;
  text-align: center;
}

.header span {
  width: 12%;
  padding-left: 2px;
  text-align: center;
}

.header .last {
  width: 7%;
}