.list {
	list-style: none;
}

.header {
	margin: 0.8rem;
	display: flex;
	justify-content: space-evenly;
}

.header .name {
	width: 30%;
	text-align: center;
}

.header span {
	width: 15%;
	padding-left: 0.2rem;
	text-align: center;
}

.header .last {
	width: 7%;
}

@media (max-width: 27em) {
	.header {
		font-size: 1.4rem;
	}
}
