.list {
	list-style: none;
}

.header {
	margin: 0.8rem;
	display: flex;
	justify-content: space-evenly;
}

.header .name {
	width: 30%;
	text-align: center;
}

.header span {
	width: 15%;
	padding-left: 2px;
	text-align: center;
}

.header .last {
	width: 7%;
}
