.rental {
	margin-bottom: 1.2rem;
	padding: 0.8rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.name {
	width: 30%;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.data,
.result {
	width: 15%;
	text-align: center;
}

.data {
	border-left: 2px solid lightgray;
}

.result {
	padding: 0.8rem 0;
	background-color: #a084dc;
	color: whitesmoke;
	border-radius: 5px;
}

.actions {
	width: 7%;
	display: flex;
	justify-content: center;
}

.actions button {
	width: 60%;
	padding: 0.4rem;
}

.actions button svg {
	width: 2rem;
	height: 2rem;
}

@media (max-width: 42.5em) {
	.actions button {
		width: 100%;
	}
}

@media (max-width: 27em) {
	.rental {
		padding: 0.8rem 0.4rem;
		font-size: 1.5rem;
	}

	.actions button svg {
		width: 1.6rem;
		height: 1.6rem;
	}
}
