.header{
  height: 10%;
  display: flex;
  background-color: #ba181b;
}

.title{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.2rem;
  font-weight: 700;
}

.image{
  width: 30%; 
  background-image: url(../../../public/assets/head.jpg);
  background-size: cover; 
  background-position: right; 
  background-repeat: no-repeat;
}