.header {
	height: 6.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #645cbb;
}

.logo {
	height: 6rem;
}

.title {
	color: #eee;
	width: 70%;
	display: flex;
	font-size: 3.2rem;
	font-weight: 700;
	letter-spacing: -0.5px;
}

.image {
	width: 30%;
	height: 100%;
	background-image: url(../../assets/head.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}
