.header{
  height: 10vh;
  display: flex;
  background-color: #660708;
}

.title{
  width: 70%; 
  font-size: 1.2rem;
}

.image{
  width: 30%; 
  background-image: url(../../../public/assets/head.jpg);
  background-size: cover; 
  background-position: right; 
  background-repeat: no-repeat;
}