.inputBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0;
}

.inputBox label {
	width: 40%;
	margin-right: 0.5rem;
	font-weight: 700;
	text-align: right;
}

.inputBox input {
	width: 50%;
}

.inputBox textarea {
	width: 50%;
	resize: none;
}

@media (max-width: 42.5em) {
	.inputBox input,
	.inputBox textarea {
		width: 55%;
	}
}
