.device {
	width: 38rem;
	display: flex;
	align-items: center;
	border-radius: 15px;
	border: none;
}

.title {
	width: 23rem;
	margin-bottom: 0.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.badge {
	margin: 0.4rem;
	padding: 0.4rem;
	background-color: #ddd;
	border-radius: 5px;
}

.badge img {
	height: 10rem;
}

.badge p {
	font-weight: 700;
	text-align: center;
}

.content {
	flex: 1;
	margin: 0.4rem;
}

.actions {
	margin: 0.8rem;
	display: flex;
	justify-content: space-evenly;
	gap: 0.4rem;
}

.actions button {
	min-width: 45%;
	padding: 1.2rem 1.6rem;
	font-weight: 700;
}

.rent-info {
	text-align: center;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.8rem;
}

.price {
	padding: 0.4rem 1rem;
	background-color: lightgray;
	font-weight: 700;
	border-radius: 5px;
}

.timer {
	font-size: 3.2rem;
	letter-spacing: -0.5px;
	font-weight: 700;
	width: 100%;
}

/* COLORS FOR THE TIMERS */

.red {
	color: #ba181b;
}

.green {
	color: green;
}

.yellow {
	color: orange;
}

.blue {
	color: #187bcd;
}

.gray {
	color: darkgray;
}

@media (max-width: 68em) {
	.title {
		width: 35rem;
	}

	.device {
		width: 50rem;
	}
}

@media (max-width: 62em) {
	.title {
		width: 23rem;
	}

	.device {
		width: 38rem;
	}
}

@media (max-width: 42.5em) {
	.device {
		width: 50rem;
	}
}
