.input {
  display: flex;
}

.input span {
  flex: 1;
  border: 1px solid gray;
  text-align: right;
  border-radius: 5px;
}

.input-actions button {
  width: 30px;
  height: 100%;
  margin-left: 5px;
  font-weight: 700;
}