.device {
	width: 38rem;
	display: flex;
	align-items: center;
	border-radius: 15px;
	border: none;
}

.title {
	margin-bottom: 0.8rem;
}

.badge {
	margin: 0.4rem;
	padding: 0.4rem;
	background-color: #ddd;
	border-radius: 5px;
}

.badge img {
	height: 10rem;
}

.badge p {
	font-weight: 700;
	text-align: center;
}

.content {
	flex: 1;
	margin: 0.4rem;
}

.actions {
	margin: 1rem;
	display: flex;
	justify-content: space-evenly;
	gap: 0.4rem;
}

.actions button {
	min-width: 50%;
	padding: 1.5rem 2.5rem;
	font-weight: 700;
}

.rent-info {
	text-align: center;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.8rem;
}

.price {
	padding: 0 1rem;
	background-color: lightgray;
	font-weight: 700;
	border-radius: 5px;
}

.timer {
	font-size: 3.2rem;
	letter-spacing: -0.5px;
	font-weight: 700;
	width: 100%;
}

/* COLORS FOR THE TIMERS */

.red {
	color: #ba181b;
}

.green {
	color: green;
}

.yellow {
	color: orange;
}

.blue {
	color: #187bcd;
}

.gray {
	color: darkgray;
}
