.input {
	display: flex;
	justify-content: space-evenly;
}

.label {
	flex: 1;
	align-self: center;
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	border: 1px solid #777;
	border-radius: 5px;
}

.input-actions {
	margin-left: 0.5rem;
	display: flex;
	gap: 0.5rem;
}

.input-actions button {
	width: 50%;
	padding: 0.2rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-actions button svg {
	width: 2.4rem;
	height: 2.4rem;
}
