.input {
	display: flex;
	justify-content: space-evenly;
}

.label {
	flex: 1;
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	border: 1px solid #777;
	border-radius: 5px;
}

.input-actions {
	display: flex;
}

.input-actions button {
	width: 50%;
	padding: 2px;
	margin-left: 5px;
	font-weight: 700;
}
