.computer {
	display: flex;
	padding: 0.8rem;
	margin-bottom: 1.2rem;
}

.content {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	line-height: 1.6;
}

.content h3,
.content hr {
	width: 100%;
}

.info {
	width: 30%;
	padding: 5px 2%;
	background-color: lightgray;
	border-radius: 7px;
}

.extras {
	width: 60%;
	padding: 0.4rem 2%;
}

.extras p {
	text-align: justify;
}

.actions {
	width: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.actions button {
	width: 60%;
	margin: 0.4rem;
	padding: 0.4rem;
}

.actions button svg {
	width: 2.4rem;
	height: 2.4rem;
}
