.computer {
	display: grid;
	grid-template-columns: 93fr 7fr;
	padding: 0.8rem;
	margin-bottom: 1.2rem;
}

.content {
	display: grid;
	grid-template-columns: 40fr 60fr;
	column-gap: 1rem;
	line-height: 1.6;
}

.content h3,
.content hr {
	grid-column: 1 / -1;
}

.info {
	padding: 5px 2%;
	background-color: lightgray;
	border-radius: 7px;
}

.extras {
	padding: 0.4rem 2%;
}

.extras p {
	text-align: justify;
}

.actions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.actions button {
	width: 60%;
	margin: 0.4rem;
	padding: 0.4rem;
}

.actions button svg {
	width: 2.4rem;
	height: 2.4rem;
}

@media (max-width: 42.5em) {
	.computer {
		grid-template-columns: 1fr;
	}

	.actions {
		flex-direction: row;
		padding: 1.2rem 0;
	}

	.actions button {
		width: 40%;
	}
}

@media (max-width: 27em) {
	.content {
		grid-template-columns: 1fr;
	}
}
