.results p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 3vh auto;
}

.total {
  font-size: 1.3rem;
  font-weight: 700;
}

.action {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 0 auto;
}

.action button {
  padding: 2% 3%;
  font-weight: 700;
}
