*{
  margin: 0%;
  padding: 0%;
  font-family: 'Lato', sans-serif;
  color: #D3D3D3;    
}

html{
  height: 100%;
  box-sizing: border-box;

  /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(12px + (24 - 12) * ((100vw - 250px) / (2000 - 250)));

}

body{
  height: 100%; 
  background-color: #343A40 !important; 
}

a{
  color: #D3D3D3 !important;
}

a:hover{
  color: #339CFF !important;
}
